{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone Project</title>
</head>
<body>
    <!-- Add this template tag at the beginning of the body -->
    <h1 style="text-align:center;">Welcome To Little Lemon Restaurant</h1>
    <!-- Include the image using the static tag -->
    <img src="{% static 'restaurant/img/littlelemon.png' %}" alt="Little Lemon Restaurant Logo" style="display:block; margin:auto;">
</body>
</html>
